
.write-body {
  height: 100%;
  background-color: black;

  @media (min-width: 1000px) { // 1000px 이상일 경우
    width: 100%;
  }

  @media (max-width: 1000px) { // 1000px 이하일 경우

  }

  @font-face {
    font-family: 'KCCChassam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCChassam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  font-family: 'KCCChassam';

  .write-view {
    margin: 150px auto 200px;
    height: 980px;
    width: 1000px;
    border: 2px solid #51585e;
    border-radius: 10px;
    background: radial-gradient(

                    rgba(60, 60, 60, 0.7),
                    rgba(20, 20, 30, 0.9) 70%
    );

    h3 {
      margin-top: 50px;
    }

    .write-header {
      display: flex;
      height: 90px;
      width: 700px;
      margin: 50px auto 0;

      select {
        border: none;
        border-radius: 10px;
        padding: 10px;
        height: 50px;
        width: 345px;

        background-color: #6c757d;
        font-size: 23px;
      }

      .write-category {
        flex: 1;
        height: 50px;
        width: 345px;

        .write-guide {
          margin-left: 10px;
          text-align: left;

          font-size: 18px;
        }
      }

      .write-tab {
        flex: 1;
        height: 50px;
        width: 320px;

        .write-guide {
          margin-left: 10px;
          text-align: left;

          font-size: 18px;
        }
      }
    }


    .write-title {
      margin: 0 auto 0;
      width: 700px;

      input {
        border: none;
        border-radius: 10px;
        height: 50px;
        width: 700px;
        padding: 10px;

        background-color: #6c757d;
        font-size: 23px;
      }

      .write-guide {
        margin-left: 10px;
        text-align: left;

        font-size: 18px;
      }

    }

    .write-content {
      margin: 30px auto 0;
      width: 700px;

      .write-guide {
        margin-left: 10px;
        text-align: left;

        font-size: 18px;

        .write-image-upload {
          margin-left: 530px;

          button {
            border: 3px solid #51585e;
            border-bottom: none;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            padding: 5px 10px 2px 10px;

            background: rgba(1,1,1,0);

            color: white;

            &:hover {
              background: rgba(100,100,100,1);
            }
          }
        }
      }

      textarea {
        border: none;
        border-radius: 10px;
        height: 500px;
        width: 700px;
        padding: 10px;

        background-color: #343a40;
        font-size: 23px;
      }
    }

    .write-image-attach {
      margin: 10px auto 0;
      height: 145px;
      width: 700px;
      padding: 10px 15px 10px 15px;

      border: 1px solid #51585e;
      border-radius: 10px;

      .write-image-attach-header {
        text-align: left;

        font-size: 18px;
        margin-bottom: 10px;
      }

      .write-image-attach-body {
        text-align: left;

        .write-attach {
          position: relative;

          &:hover > .write-attach-delete {
            display: block;
          }

          .write-attach-upload {
            height: 80px;
            width: 80px;
            margin-right: 10px;

          }

          .write-attach-delete {
            display: none;
            cursor: pointer;

            border: 1px solid black;
            border-radius: 50%;
            background-color: black;

            height: 20px;
            width: 20px;

            position: absolute;
            top: -23px;
            left: 58px;
          }
        }
      }
    }

    .on-submit {
      display: flex;
      margin: 10px auto 0;
      width: 700px;

      button {
        border: none;
        border-radius: 15px;
        height: 50px;
        width: 120px;
        padding: 10px;

        background-color: #6c757d;
        font-size: 23px;
      }

      .on-cancel {
        text-align: left;

      }

      .on-preview {
        flex: 1;
        text-align: left;
        margin-left: 10px;

      }

      .on-write {
        flex: 1;
        text-align: right;

      }

    }
  }

}