

.main_board {
  @media (min-width: 1200px) { // 1000px 이상일 경우
    position: relative;
    min-height: 100%;
    height: 100%;
    width: 100%;
    background: linear-gradient(
                    135deg,
                    rgba(30, 30, 30, 0.7) 20%,
                    rgba(130, 130, 230, 0.5) 50%,
                    rgba(30, 30, 30, 0.7) 90%
    );
  }

  @media (max-width: 1200px) { // 1000px 이하일 경우
    position: relative;
    min-height: 100%;
    height: 100%;
    width: 1100px;
    background: linear-gradient(
                    135deg,
                    rgba(30, 30, 30, 0.7) 20%,
                    rgba(130, 130, 230, 0.5) 50%,
                    rgba(30, 30, 30, 0.7) 80%
    );
  }


  @font-face {
    font-family: 'KCCChassam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCChassam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  font-family: 'KCCChassam';

  .font-list {
    @font-face {
      font-family: 'SUITE-Regular';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
      font-weight: 400;
      font-style: normal;
    }
    font-family: SUITE-Regular;

  }

  .view-loading {

    svg {
      display: inline-block;
      margin-top: 350px;
    }

    path {
      stroke: cyan;
      stroke-width: 6;
      stroke-linejoin: round;
      stroke-linecap: round;
      stroke-dasharray: 193.904983521;
      fill: none;
      animation:
              load 4s linear infinite,
              color 3s linear infinite;
    }

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgb(0,0,0,1);
    z-index: 3;
  }
}

.block {
  position: relative;
  border-radius: 15px;
  margin: 100px auto 50px;
  width: 700px;
  height: 55px;
  background: linear-gradient(0deg, #000, #272727);

  &::before, &::after {
    border-radius: 15px;
    content: '';
    position: absolute;
    left: -1px;
    top: -1.5px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094,
            #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    z-index: 0;
    animation: steam 60s linear infinite;
  }

  &::after {
    filter: blur(150px);
  }

  .main_tab {
    z-index: 1;
    position: relative;
    border-radius: 15px;
    background: linear-gradient(
                    135deg,
                    rgba(30, 30, 30, 1),
                    rgba(80, 80, 80, 1) 50%,
                    rgba(30, 30, 30, 1) 70%,
                    rgba(130, 130, 230, 1) 98%
    );
    margin: 100px auto 50px;

    height: 55px;
    width: 700px;
    font-size: 17px;
    color: #badbcc;

    ul {
      margin: 0 auto;
      padding: 0;
      border: none ;
      list-style: none;

      li {
        display: inline-block;
        cursor: pointer;
        text-align: center;

        margin: 15px;
      }
    }
  }
}


.sub_tab {
  width: 100%;

  font-size: 17px;

  ul {
    margin: 0 auto;
    padding: 0;
    border: none ;
    list-style: none;

    li {
      display: inline-block;
      cursor: pointer;
      text-align: center;

      margin: 10px;

      &:active {
        animation: jelly 0.5s;
      }
    }
  }
}


.main-board {

  .board-tableName {
    margin: 10px auto 20px;
    font-size: 60px;
    font-style: oblique;
    color: #d1e7dd;
  }

  .board-table {
    @media (min-width: 1000px) { // 1000px 이상일 경우
      width: 1100px;
      margin: 40px auto 200px;
    }

    @media (max-width: 1000px) { // 1000px 이하일 경우
      width: 900px;
      margin: 40px auto 200px;
    }

    .table-view {
      height: 500px;

      .board-comment-cnt {
        margin-left: 10px;

        color: #adb5bd;
        font-size: 13px;
        font-weight: bold;
      }

      .board-write-new {
        position: relative;
        top: -2px;

        border: 1px solid red;
        border-radius: 15px;
        padding: 1px 4px 1px 3px;

        height: 50px;
        width: 50px;

        margin-left: 10px;
        font-size: 10px;
        font-weight: bold;
        background-color: red;
      }

      table {
        width: 100%;
        margin: 20px auto 0;
        color: white;

        thead tr {
          border-bottom: 1px solid gray;
          font-size: 20px;
          font-weight: bold;
        }

        tbody tr {
          border-bottom: 1px solid gray;
          font-size: 18px;
        }

        tbody td:nth-child(3) {
          text-align: left;
          padding-left: 20px;
        }

        tbody tr:hover {
          background-color: rgba(80, 80, 80, 0.8);
          color: #fff;
        }
      }

    }

    .board-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .board-write {
        margin-left: 10px;
        font-size: 20px;

        .write-box {
          font-weight: 400;
          background-color: #e2e3e5;
          border-radius: 30px;
          color: #000000;
          position: relative;
          overflow: hidden;
          z-index: 1;
          transition: color 150ms ease-in-out;

          &:after {
            content: '';
            position: absolute;
            display: block;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 100%;
            background: #5c636a;
            z-index: -1;
            transition: width 150ms ease-in-out;
          }

          &:hover {
            color: #fff;
            &:after {
              width: 110%;
            }
          }
        }
      }

      .board-search {
        float: right;
        margin-bottom: 15px;

        font-size: 20px;

        border: 1px solid #141619;
        border-radius: 30px;

        .search-box {
          display: flex;
          padding: 0;
          width: 0px;
          height: 35px;
          border: none;
          background: none;
          outline: none;
          float: left;
          font-size: 0.8rem;
          transition: .5s;
          color: #e2e3e5;
        }

        .search-btn {
          text-decoration: none;
          float: right;
          width: 30px;
          height: 35px;
          background-color: #fff;
          border-radius: 30px;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #4d5154;
        }

        .search-select {
          display: none;
          color: #4d5154;
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          margin-left: 3px;
          float: right;
          width: 70px;
          height: 35px;
          padding: 0;
        }
      }

      .board-search:hover {
        box-shadow: 0 0 .5px 1px #4d5154;
        padding-left: 10px;
        width: 322px;
      }

      .board-search:hover > .search-btn {
        color: #141619;
        background-color: rgba(0,0,0,0);
      }

      .board-search:hover > .search-box {
        width: 180px;
        padding: 0 6px;
      }

      .board-search:hover > .search-select {
        display: flex;
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        border: none;
        color: #141619;
        background-color: rgba(0,0,0,0);
      }
    }

    .board-footer {

      .board-paging {
        margin-top: 5px;
        border-top: 1px solid #dde0e3;

        ul {
          margin-top: 10px;
          padding: 0;
          list-style: none;
          border: none;

          li {
            display: inline-block;
            text-align: center;

            .list-item {

              background-color: transparent;
              border: 2px solid #5c636a;
              border-radius: 0.6em;
              color: #e2e3e5;
              cursor: pointer;
              font-size: 1.3rem;
              font-weight: 400;
              text-transform: uppercase;
              margin: 2px;
              padding: 0.3em 0.8em;

              &:hover {
                box-shadow: 0 0 40px 40px #4d5154 inset;
              }
            }

          }
        }
      }

    }

  }
}

@keyframes jelly {
  25% {
    transform: scale(0.6, 1.4);
  }

  50% {
    transform: scale(1.4, 0.6);
  }

  75% {
    transform: scale(0.9, 1.0);
  }
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes load {
  from { stroke-dashoffset: 775.6199340820312; }
}

@keyframes color {
  33% { stroke: yellow; }
  66% { stroke: magenta; }
}


.MuiPagination-ul {
  li {
    color: white;
  }
}