
.main_board {
  height: 100%;
  width: 100%;
  background-color: black;
}

.main_tab {
  list-style: none;

  margin-top: 100px;
  text-align: center;
  font-size: 17px;
  border: none ;
}

.sub_tab {
  list-style: none;

  margin-top: 80px;
  text-align: center;
  font-size: 17px;

  ul {
    border: none ;

  }
}

li {
  display: inline-block;
  cursor: pointer;

  margin-right: 20px;
}

.table_name {
  margin-top: 40px;
  font-size: 60px;
  font-style: oblique;
  color: #0a53be;
}

.table table{
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 1500px;

  color: white;

  tr:hover {
    background-color: rgba(80, 80, 80, 0.8);
    color: #fff;
  }
}