
.main_board {
  position: relative;
  min-height: 100%;
  height: 1500px;
  width: 100%;
  background-color: black;
}

.main_tab {
  width: 100%;

  margin-top: 100px;
  font-size: 17px;
  ul {
    margin: 0 auto;
    border: none ;
    list-style: none;
  }
}

.sub_tab {
  width: 100%;

  margin-top: 90px;
  font-size: 17px;

  ul {
    margin: 0 auto;
    border: none ;
    list-style: none;
  }
}

li {
  display: inline-block;
  cursor: pointer;
  text-align: center;

  margin-right: 20px;
}

.table_name {
  margin-top: 40px;
  font-size: 60px;
  font-style: oblique;
  color: #0a53be;
}

.table table{
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  color: white;

  tbody tr:hover {
    background-color: rgba(80, 80, 80, 0.8);
    color: #fff;
  }
}