
.member-info {
  height: 100%;
  width: 100%;
  background-color: black;

  .table-view {
    height: 490px;
  }

  .info-select {
    margin-top: 100px;
    margin-bottom: 20px;
  }

  .profile-view {
    border: 4px solid #565e64;
    border-radius: 8px;
    margin: 20px auto 200px;
    width: 600px;
    height: 700px;

    .profile-picture {
      border: 1px solid #565e64;
      border-radius: 100%;
      margin: 30px auto 90px;
      width: 250px;
      height: 250px;
      cursor: pointer;

      .upload-picture {
        position: relative;
        border: none;
        border-radius: 100%;
        width: 250px;
        height: 250px;
        background-color: transparent;
      }
    }

    .profile-info {
      display: flex;
      justify-content: flex-start;
      border: 1px solid #bcbebf;
      border-radius: 12px;
      margin: 40px 40px;
      padding: 15px 50px 15px;

      .profile-key {
        font-size: 18px;
        font-weight: bold;
        color: #6c757d;
      }

      .profile-value {
        font-size: 18px;
        text-align: left;
        margin-left: 20px;
      }

      .profile-email {

      }

      .profile-nickname {
        margin-top: 10px;

      }

      .profile-birth {
        margin-top: 10px;

      }

      .profile-joinDate {
        margin-top: 10px;

      }

      .profile-lastLog {
        margin-top: 10px;

      }
    }

  }

  .boardLog-view {
    border: 4px solid #565e64;
    border-radius: 8px;
    margin: 20px auto 200px;
    width: 900px;
    height: 600px;
  }

  .commentLog-view {
    border: 4px solid #565e64;
    border-radius: 8px;
    margin: 20px auto 200px;
    width: 900px;
    height: 600px;

  }

  .recommendLog-view {
    border: 4px solid #565e64;
    border-radius: 8px;
    margin: 20px auto 200px;
    width: 900px;
    height: 640px;

    .recommendLog-select {
      display: flex;
      border-bottom: 1px solid #dde0e3;

      div {
        cursor: pointer;
        width: 100%;

        color: #e2e3e5;
        text-transform: uppercase;

        &:hover {
          box-shadow: 0 0 40px 40px #4d5154 inset;
        }
      }
    }
  }

  .loginLog-view {
    border: 4px solid #565e64;
    border-radius: 8px;
    margin: 20px auto 200px;
    width: 900px;
    height: 600px;
  }

  .update-view {
    border: 4px solid #565e64;
    border-radius: 8px;
    margin: 20px auto 200px;
    width: 900px;
    height: 850px;

    .profile-picture {
      margin: 30px auto 90px;
      width: 250px;
      height: 250px;

      .upload-picture {
        position: relative;
        border: none;
        border-radius: 100%;
        width: 250px;
        height: 250px;
        background-color: transparent;
      }

      .update-picture {
        position: relative;
        border: none;
        border-radius: 15px;
        top: -50px;
        left: 90px;
        width: 45px;
        height: 42px;
        cursor: pointer;
        background-color: #343a40;
      }
    }

    .update-info {
      display: flex;
      justify-content: flex-start;
      border: 1px solid #bcbebf;
      border-radius: 12px;
      margin: 40px 40px;
      padding: 15px 50px 15px;

      .update-key {
        font-size: 18px;
        font-weight: bold;
        color: #6c757d;

        .update-check {
          margin-top: 90px;
        }
      }

      .update-value {
        font-size: 18px;
        text-align: left;
        margin-left: 20px;

        .update-birth-input {
          margin-top: 39px;

          .update-birthY {
            width: 80px;
            height: 30px;
            background-color: #4d5154;
            border: none;
            border-radius: 10px;
            padding: 0 0 2px 7px;

          }

          .update-birthM {
            margin-left: 10px;
            height: 31px;
            background-color: #4d5154;
            border: none;
            border-radius: 10px;
            padding: 0 0 1px 7px;

          }

          .update-birthD {
            margin-left: 10px;
            width: 80px;
            height: 30px;
            background-color: #4d5154;
            border: none;
            border-radius: 10px;
            padding: 0 0 2px 7px;

          }
        }

        .update-check {

          input {
            margin-top: 6px;
            background-color: #4d5154;
            border: none;
            border-radius: 10px;
            padding: 0 0 2px 7px;
            height: 30px;
          }
        }
      }

      .update-email {

      }

      .update-nickname {
        margin-top: 15px;

        input {
          background-color: #4d5154;
          border: none;
          border-radius: 10px;
          padding: 0 0 2px 7px;
          height: 30px;
        }
      }

      .update-birth {
        margin-top: 90px;


      }
    }

    .on-update {

    }
  }

  .update-pw-view {
    border: 4px solid #565e64;
    border-radius: 8px;
    margin: 20px auto 200px;
    width: 900px;
    height: 350px;

    .update-password {
      display: flex;
      justify-content: flex-start;
      border: 1px solid #bcbebf;
      border-radius: 12px;
      margin: 40px 40px;
      padding: 15px 50px 15px;

      .update-pw-key {
        margin-left: 50px;
        font-size: 18px;
        font-weight: bold;
        color: #6c757d;

      }

      .update-pw-value {
        font-size: 18px;
        text-align: left;
        margin-left: 20px;

      }

      .update-pw-present {
        margin-top: 15px;

      }

      .update-pw-new {
        margin-top: 15px;

      }

      .update-pw-check {
        margin-top: 15px;

      }

      input {
        background-color: #4d5154;
        border: none;
        border-radius: 10px;
        padding: 0 0 2px 7px;
        height: 30px;
      }
    }

    .on-update {

    }
  }

  .paging-design {
    margin-top: 40px;

    ul {
      list-style: none;
      border: none;

      li {
        display: inline-block;
        text-align: center;

        .list-item {

          background-color: transparent;
          border: 2px solid #5c636a;
          border-radius: 0.6em;
          color: #e2e3e5;
          cursor: pointer;
          font-size: 1.3rem;
          font-weight: 400;
          text-transform: uppercase;
          margin: 2px;
          padding: 0.3em 0.8em;

          &:hover {
            box-shadow: 0 0 40px 40px #4d5154 inset;
          }
        }

      }
    }
  }
}

.modal-view {
  width: 300px;
  height: 200px;

  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);

  background-color: gray;
  border: 1px solid black;
  border-radius: 8px;
}