
.neon-design {
  position: relative;
  border-radius: 25px;
  margin: 25px auto 0;
  background: linear-gradient(0deg, #000, #272727);

  &:before, &:after {
    border-radius: 10px;
    content: '';
    position: absolute;
    left: -3.5px;
    top: -3px;
    background: linear-gradient(
                    242deg,  #FF0800, #FF0800,
                    #FFE135, #FFAB28, #FF751B,
                    #FF3E0D, #FF0800, #FFE135,
                    #FFAB28, #FF751B, #FF3E0D, #FF0800
    );
    background-size: 400%;
    width: calc(100% + 6.5px);
    height: calc(100% + 6px);
    z-index: -1;
    animation: steam 120s linear infinite;
  }

  &::after {
    filter: blur(210px);
  }
}


.chat-main {
  border-radius: 10px;
  height: 600px;
  width: 452px;
  background-color: #141619;
  opacity: 0.9;

  .chat-drag-design {
    border: none;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 35px;
    cursor: move;
    background: linear-gradient(
                    rgba(130, 130, 130, 1) 15%,
                    rgba(30, 30, 30, 1) 90%
    );
  }

  .chat-room-view {
    position: relative;

    .paging-design {
      margin: 80px auto 0;
      height: 50px;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        border: none;

        li {
          display: inline-block;
          text-align: center;

          .list-item {
            background-color: transparent;
            border: 2px solid #5c636a;
            border-radius: 0.6em;
            color: #e2e3e5;
            cursor: pointer;
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
            margin: 2px;
            padding: 0.3em 0.8em;

            &:hover {
              box-shadow: 0 0 40px 40px #4d5154 inset;
            }
          }

        }
      }
    }

    .chat-room-list {
      margin: 5px auto 0;
      height: 400px;

      table {
        margin: auto;
        border-collapse: separate;
        border-spacing: 8px;

        tr {
          border-collapse: collapse;
          border-radius: 10px;
          border-style: hidden;
          box-shadow: 0 0 0 1px white;
        }

        thead tr {
          font-size: 14px;
          box-shadow:
                  0 1px 2px rgba(0,0,0, 0.9),
                  2px 1px 4px rgba(0,0,0, 0.9),
                  2px 4px 3px rgba(215,215,238, 0.6),
                  0 0 7px 2px rgba(245,245,248, 0.6),
                  inset 0 1px 2px rgba(0,0,0, 0.9),
                  inset 2px 1px 4px rgba(0,0,0, 0.9),
                  inset 2px 4px 3px rgba(215,215,238, 0.6),
                  inset 0 0 7px 2px rgba(245,245,248, 0.6);
        }

        tbody tr {
          font-size: 20px;
          box-shadow:
                  0 1px 2px rgba(0,0,0, 0.9),
                  2px 1px 4px rgba(0,0,0, 0.9),
                  2px 4px 3px rgba(3,0,128, 0.6),
                  0 0 7px 2px rgba(0,208,255, 0.6),
                  inset 0 1px 2px rgba(0,0,0, 0.9),
                  inset 2px 1px 4px rgba(0,0,0, 0.9),
                  inset 2px 4px 3px rgba(3,0,128, 0.6),
                  inset 0 0 7px 2px rgba(0,208,255, 0.6);
          &:hover {
            box-shadow: 0 0 0 3px white;
            color: #fff;
          }
        }
      }
    }

    .view-loading {
      position: absolute;
      top: 0;
      left: 0;
      width: 451px;
      height: 600px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      background: rgb(0,0,0,1);
      z-index: 1;
    }

    .chat-room-input {
      position: relative;
      margin: auto;
      width: 370px;
      color: #adb5bd;

      input {
        border: 2px solid;
        border-radius: 15px;
        padding: 5px 90px 5px 15px;
        width: 365px;
        color: white;
        background: rgba(0,0,0,0);
        box-shadow:
                0 1px 2px rgba(0,0,0, 0.9),
                2px 1px 4px rgba(0,0,0, 0.9),
                2px 4px 3px rgba(3,0,128, 0.6),
                0 0 7px 2px rgba(0,208,255, 0.6),
                inset 0 1px 2px rgba(0,0,0, 0.9),
                inset 2px 1px 4px rgba(0,0,0, 0.9),
                inset 2px 4px 3px rgba(3,0,128, 0.6),
                inset 0 0 7px 2px rgba(0,208,255, 0.6);
      }

      button {
        border: none;
        font-size: 20px;
        font-weight: bold;
        width: 100px;
        color: white;
        background: rgba(255,255,255,0);

        position: absolute;
        top: 12px;
        left: 260px;

        &:hover {
          color: #5ddcff;
        }
      }
    }
  }



  .chat-chatting-view {
    position: relative;
    width: 300px;
    height: 500px;

    .enter-loading {
      position: absolute;
      top: 0;
      left: 0;
      width: 451px;
      height: 600px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      background: rgb(0,0,0,1);
      z-index: 1;
    }

    .chat-chatting-list {
      overflow:auto;
      width: 450px;
      height: 470px;
      margin: auto;
      padding: 20px;

      .notification-message {
        position: absolute;
        top: 493px;
        left: 70px;

        font-size: 16px;
        font-weight: bold;
        color: aqua;
        height: 100px;
        width: 300px;
        opacity: 0.8;
      }

      .chat-chatting-myself {
        position: relative;
        text-align: right;

        .chat-chatting-header {

          .chat-member-image {

            img {
              width: 30px;
              height: 30px;
            }
          }

          .chat-member-name {
            //margin-right: 5px;
            font-weight: bold;
          }

          .chat-chatting-date {
            margin-right: 10px;
            font-size: 15px;
          }
        }

        .chat-chatting-content {
          word-break: break-all;
          margin: 5px 25px 5px 0 ;
          padding: 0 0 0 150px;
          font-size: 23px;

          .chat-chatting-balloon {
            position:relative;
            border: 1px solid white;
            border-radius: 15px;
            padding: 8px 15px 3px 7px;
            width: 260px;
            box-shadow:
                    0 1px 2px rgba(0,0,0, 0.9),
                    2px 1px 4px rgba(0,0,0, 0.9),
                    2px 4px 3px rgba(3,0,128, 0.6),
                    0 0 7px 2px rgba(0,208,255, 0.6),
                    inset 0 1px 2px rgba(0,0,0, 0.9),
                    inset 2px 1px 4px rgba(0,0,0, 0.9),
                    inset 2px 4px 3px rgba(3,0,128, 0.6),
                    inset 0 0 7px 2px rgba(0,208,255, 0.6);

            &::after {
              content:"";
              position:absolute;
              top:-10px;
              left:230px;
              border-bottom: 10px solid white;
              border-top:0px solid transparent;
              border-left: 10px solid transparent;
              border-right: 0px solid transparent;
            }
          }
        }
      }

      .chat-chatting-opponent {
        text-align: left;

        .chat-chatting-header {

          .chat-member-image {

            img {
              width: 30px;
              height: 30px;
            }
          }

          .chat-member-name {
            //margin-left: 5px;
            font-weight: bold;
          }

          .chat-chatting-date {
            margin-left: 10px;
            font-size: 15px;
          }
        }

        .chat-chatting-content {
          word-break: break-all;
          margin: 5px 0 5px 0;
          padding: 0 150px 0 0;
          font-size: 23px;

          .chat-chatting-balloon {
            position:relative;
            border: 1px solid;
            border-radius: 15px;
            padding: 8px 7px 3px 15px;
            box-shadow:
                    0 1px 2px rgba(0,0,0, 0.9),
                    2px 1px 4px rgba(0,0,0, 0.9),
                    2px 4px 3px rgba(3,0,128, 0.6),
                    0 0 7px 2px rgba(0,208,255, 0.6),
                    inset 0 1px 2px rgba(0,0,0, 0.9),
                    inset 2px 1px 4px rgba(0,0,0, 0.9),
                    inset 2px 4px 3px rgba(3,0,128, 0.6),
                    inset 0 0 7px 2px rgba(0,208,255, 0.6);

            &::after {
              content:"";
              position:absolute;
              top:-10px;
              left:17px;
              border-bottom: 10px solid white;
              border-top: 0px solid transparent;
              border-left: 0px solid transparent;
              border-right: 10px solid transparent;
            }
          }
        }
      }
    }

    .chat-chatting-action {
      margin-top: 10px;

      .chat-chatting-input {
        position: relative;
        margin: 10px auto 0;
        width: 450px;

        input {
          border: 2px solid;
          border-radius: 15px;
          padding: 10px 90px 10px 15px;
          width: 435px;
          font-size: 20px;
          color: white;
          background: rgba(0,0,0,0);
          box-shadow:
                  0 1px 2px rgba(0,0,0, 0.9),
                  2px 1px 4px rgba(0,0,0, 0.9),
                  2px 4px 3px rgba(3,0,128, 0.6),
                  0 0 7px 2px rgba(0,208,255, 0.6),
                  inset 0 1px 2px rgba(0,0,0, 0.9),
                  inset 2px 1px 4px rgba(0,0,0, 0.9),
                  inset 2px 4px 3px rgba(3,0,128, 0.6),
                  inset 0 0 7px 2px rgba(0,208,255, 0.6);
        }

        button {
          border: none;
          font-size: 20px;
          font-weight: bold;
          color: white;
          background: rgba(255,255,255,0);

          position: absolute;
          top: 12px;
          left: 360px;

          &:hover {
            color: #5ddcff;
          }
        }
      }

      .chat-chatting-button {
        text-align: right;
        width: 440px;

        button {
          border: none;
          border-radius: 15px;
          font-size: 18px;
          font-weight: bold;
          padding: 2px 10px 2px 10px;
        }
      }
    }

  }
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}