.chat-quit-loading {
  position: absolute;
  top: 44%;
  left: 69%;

  width: 50px;
  height: 50px;
  margin: 10px auto;

  border: 4px solid #e3e3e3;
  border-bottom: 4px solid #000000;
  border-radius: 50%;

  animation: loading 1.5s linear infinite;
}

.chat-enter-loading {
  position: absolute;
  top: 36%;
  left: 46%;

  width: 50px;
  height: 50px;
  margin: 10px auto;

  border: 4px solid #e3e3e3;
  border-bottom: 4px solid #000000;
  border-radius: 50%;

  animation: loading 1.5s linear infinite;
}

.chat-view-loading {
  position: absolute;
  top: 36%;
  left: 46%;

  width: 50px;
  height: 50px;
  margin: 10px auto;

  border: 4px solid #e3e3e3;
  border-bottom: 4px solid #000000;
  border-radius: 50%;

  animation: loading 1.5s linear infinite;
}

.component-loading {

  svg {
    display: inline-block;
    margin-top: 350px;
  }

  path {
    stroke: cyan;
    stroke-width: 6;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dasharray: 193.904983521;
    fill: none;
    animation:
            componentLoad 4s linear infinite,
            componentColor 3s linear infinite;
  }

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgb(0,0,0,1);
  z-index: 3;
}

.bounce-design {
  position: absolute;
  top: 250px;
  left: 75%;
  width: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  -webkit-animation: glowed 1s ease-in-out infinite alternate;

  &__item {
    $anim-drt: 0.7s;
    $anim-ease: cubic-bezier(.6,.05,.15,.95,);
    width: 100px;
    height: 200px;
    margin-right: 5px;
    font-size: 50px;
    font-weight: bold;
    background: rgba(0,0,0,0);

    &:nth-child(1) {
      animation: bouncing $anim-drt alternate infinite $anim-ease;
    }

    &:nth-child(2) {
      animation: bouncing $anim-drt $anim-drt/35 alternate infinite $anim-ease backwards;
      margin-right: 25px;
    }

    &:nth-child(3) {
      animation: bouncing $anim-drt $anim-drt/30 alternate infinite $anim-ease backwards;
    }

    &:nth-child(4) {
      animation: bouncing $anim-drt $anim-drt/25 alternate infinite $anim-ease backwards;
    }

    &:nth-child(5) {
      animation: bouncing $anim-drt $anim-drt/20 alternate infinite $anim-ease backwards;
    }

    &:nth-child(6) {
      animation: bouncing $anim-drt $anim-drt/15 alternate infinite $anim-ease backwards;
    }

    &:nth-child(7) {
      animation: bouncing $anim-drt $anim-drt/10 alternate infinite $anim-ease backwards;
    }

    &:nth-child(8) {
      animation: bouncing $anim-drt $anim-drt/5 alternate infinite $anim-ease backwards;
    }

  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes componentLoad {
  from { stroke-dashoffset: 775.6199340820312; }
}

@keyframes componentColor {
  33% { stroke: yellow; }
  66% { stroke: magenta; }
}

@keyframes bouncing {
  0% {
    transform: translate3d(0, 10px, 0) scale(1.0, 0.85);
  }

  100% {
    transform: translate3d(0, -20px, 0) scale(0.9, 1.1);
  }
}

@keyframes glowed {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e50022, 0 0 40px #e50022, 0 0 50px #e50022, 0 0 60px #e50022, 0 0 70px #e50022;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #e20000, 0 0 40px #e20000, 0 0 50px #e20000, 0 0 60px #e20000, 0 0 70px #e20000, 0 0 80px #e20000;
  }
}
