
.font-navigation {
  @font-face {
    font-family: 'KyoboHandwriting2022khn';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KyoboHandwriting2022khn.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  font-family: 'KyoboHandwriting2022khn';
}

html {
  --cursor-color: green;
}

html.dark-mode {
  --cursor-color: white;
}

.Main-body {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: black;
}

.Main-view {
  position: relative;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}

svg text {
  font-family: 'Leckerli One', cursive;
  font-size: 5em;
  fill: #000000;
  stroke-dasharray: 326px;
  animation: strokes 1s linear;
  animation-fill-mode: forwards;
}

svg text:nth-child(1) {
  animation-delay: 0s;
}
svg text:nth-child(2) {
  animation-delay: 0.5s;
}
svg text:nth-child(3) {
  animation-delay: 1s;
}
svg text:nth-child(4) {
  animation-delay: 1.5s;
}
svg text:nth-child(5) {
  animation-delay: 2s;
}
svg text:nth-child(6) {
  animation-delay: 2.5s;
}
svg text:nth-child(7) {
  animation-delay: 3s;
}

@keyframes strokes {
  0%   {
    stroke:#F1C164;
    stroke-width: 3px;
    stroke-dashoffset: 326px;
  }
  70% {
    fill: transparent;
  }
  98% {
    stroke:#F1C164;
    stroke-width: 3px;
  }
  100% {
    fill: #F1C164;
    stroke-dashoffset: 0px;
  }
}

.First-view {
  position: absolute;
  top: 100px;
  left: 50%;
  animation: fadeout 2s forwards;
  animation-delay: 2.5s;
  transform: translate(-50%, 0%); // (position: absolute) 값 가운데 처리하기
}

.Second-view {
  height: 700px;
  opacity: 0;
  justify-content: center;
  align-items: center;
  animation: fadein 2s forwards;
  animation-delay: 4s;
}

.Sub-body {

}

.Sub-view {
  margin-bottom: 200px;
  width: 100%;

  .image-view {
    z-index: 1;
    text-align: center;

    .image-1 {
      margin-top: 400px;
      position: relative;
      z-index: 2;
      height: 900px;
      background-image: radial-gradient(
        at 40% 40%,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.9) 70%
      ), url("../../images/leagueoflegend2n.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 90%;

      border: 2px solid black;
      transition: 4s;
      opacity: 0;

      .logo-1 {
        width: 450px;
        height: 250px;
        object-fit: cover;

        position: absolute;
        top: 40px;
        left: 300px;
        opacity: 0.7;
      }

    }

    .test-box {
      z-index: 3;
      position: absolute;
      top: 250px;
      left: 550px;

      .line-draw-1 {
        z-index: 4;
        position: relative;
        width: 410px;
        height: 1300px;

        span:nth-child(3) {
          position: absolute;
          border-bottom: 3px solid white;
          box-shadow: 1px 1px 1px 1px black;
          left: 0;
          right: 100%;
          bottom: 0;
          transition: 2.5s;
          transition-delay: 0s;
        }

        span:nth-child(4) {
          position: absolute;
          border-left: 3px solid white;
          box-shadow: 1px 1px 1px 1px black;
          top: 0;
          left: 0;
          bottom: 100%;
          transition: 5s;
          transition-delay: 1s;
        }
      }
    }

    .image-2 {
      margin-top: 400px;
      position: relative;
      z-index: 2;
      height: 900px;
      background-image: radial-gradient(

        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 1) 85%
      ), url("../../images/overwatch3.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 90%;

      border: 2px solid black;
      transition: 4s;
      opacity: 0;

      .logo-2 {
        width: 600px;
        height: 400px;
        object-fit: cover;

        position: absolute;
        top: 50px;
        left: 300px;
        opacity: 1;
      }

    }

    .image-3 {
      margin-top: 400px;
      position: relative;
      height: 900px;
      background-image: radial-gradient(

        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 1) 90%
      ), url("../../images/battleground3.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 90%;

      border: 2px solid black;
      transition: 4s;
      opacity: 0;

      .logo-3 {
        width: 600px;
        height: 200px;
        object-fit: cover;

        position: absolute;
        top: 380px;
        left: 860px;
        opacity: 0.7;
      }
    }

    .image-4 {
      margin-top: 400px;
      position: relative;
      height: 900px;
      background-image: radial-gradient(

        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 1) 90%
      ), url("../../images/maplestory1.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 90%;

      border: 2px solid black;
      transition: 4s;
      opacity: 0;

      .logo-4 {
        width: 300px;
        height: 150px;
        object-fit: cover;

        position: absolute;
        top: 200px;
        left: 850px;
        opacity: 0.9;
      }
    }

    .image-5 {
      margin-top: 400px;
      position: relative;
      height: 900px;
      background-image: radial-gradient(

        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 1) 85%
      ), url("../../images/minecraft3.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 90%;

      border: 2px solid black;
      transition: 4s;
      opacity: 0;

      .logo-5 {
        width: 450px;
        height: 250px;
        object-fit: cover;

        position: absolute;
        top: 200px;
        left: 770px;
        opacity: 0.8;
      }
    }

    .image-6 {
      margin-top: 400px;
      position: relative;
      height: 900px;
      margin-bottom: 250px;
      background-image: radial-gradient(

        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 1) 85%
      ), url("../../images/lies-of-p-1.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 90%;

      border: 2px solid black;
      transition: 4s;
      opacity: 0;

      .logo-6 {
        width: 600px;
        height: 180px;
        object-fit: cover;

        position: absolute;
        top: 200px;
        left: 370px;
        opacity: 1;
      }
    }



  }
}

/* Img Animation */

/* 무한 회전 */
.img1 {
  animation: rotate_image 6s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

/* 나타나는 애니메이션 */
.img2 {
  animation: rotate_image 6s linear infinite, scale1 6s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes scale1 {
  0%   { transform: scale(0) }
  100%  { transform: scale(1) }
}

/* 사라지는 애니메이션 */
.img3 {
  animation: rotate_image 6s linear infinite, scale2 6s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes scale2 {
  0%   { transform: scale(1) }
  100%  { transform: scale(0) }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


/**/

.Main-logo {

}

.Social-logo {

  background-color: black;
  width: 100%;
  padding-bottom: 60px;
  bottom: 0px;
  position: relative;
}

.Social-logo .link-style {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  transition: .6s;
  box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.Social-logo .link-style:hover {
  background-color: rgba(0, 0, 0, 0.829);
  color: #fff;
  transform: translate(0, -30%);
}

/* 그리기 */

.svg-draw {

  svg {
      max-height: 45rem;
      width: 100%;
      height: auto;
      fill: none;
      stroke: white;
      stroke-width: 200;

      path {
          stroke-dasharray: 50000;
          stroke-dashoffset: -50000;

          @for $i from 1 through 7 {
              &:nth-of-type(#{$i}) {
                  animation: draw 500ms #{$i * 300}ms forwards;
              }
          }
      }
  }
}

@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}