
.font-navigation {
  @font-face {
    font-family: 'YEONGJUPunggiGinsengTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/YEONGJUPunggiGinsengTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'KyoboHandwriting2022khn';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KyoboHandwriting2022khn.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  font-family: 'KyoboHandwriting2022khn';
}

html {
  --cursor-color: green;
}

html.dark-mode {
  --cursor-color: white;
}

.Main-body {
  position: relative;
  height: 100%;
  background-color: black;

  @media (min-width: 700px) { // 700px 이상일 경우
    width: 100%;
  }

  @media (max-width: 700px) { // 700px 이하일 경우
    width: 700px;
  }
}

svg text {
  font-family: 'Leckerli One', cursive;
  font-size: 5em;
  fill: #000000;
  stroke-dasharray: 326px;
  animation: strokes 1s linear;
  animation-fill-mode: forwards;
}

svg text:nth-child(1) {
  animation-delay: 0s;
}
svg text:nth-child(2) {
  animation-delay: 0.5s;
}
svg text:nth-child(3) {
  animation-delay: 1s;
}
svg text:nth-child(4) {
  animation-delay: 1.5s;
}
svg text:nth-child(5) {
  animation-delay: 2s;
}
svg text:nth-child(6) {
  animation-delay: 2.5s;
}
svg text:nth-child(7) {
  animation-delay: 3s;
}

@keyframes strokes {
  0%   {
    stroke:#F1C164;
    stroke-width: 3px;
    stroke-dashoffset: 326px;
  }
  70% {
    fill: transparent;
  }
  98% {
    stroke:#F1C164;
    stroke-width: 3px;
  }
  100% {
    fill: #F1C164;
    stroke-dashoffset: 0px;
  }
}

.Main-view {
  width: 100%;

  .First-view {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 1060px;
    background-color: black;
    animation: fadeout 2s forwards;
    animation-delay: 3.5s;
    transform: translate(-50%, 0%); // (position: absolute) 값 가운데 처리하기
  }

  .Second-view {
    z-index: 1;
    text-align: center;

    .Second-view-text {
      position: absolute;
      top: 400px;
      left: 10%;
      text-align: left;

      button {
        border-radius: 25px;
        border: none;
        padding: 0 15px 0 15px;
        margin-top: 15px;
        font-size: 22px;
        font-weight: bold;
      }
    }
  }
}


.test-view {
  position: absolute;
  top: 900px;
  left: 50%;
  width: 100%;
  height: 700px;
  background-color: black;
  animation: fadeout 2s forwards;
  animation-delay: 2.5s;
  transform: translate(-50%, 0%);
}

.Sub-view {
  margin-bottom: 200px;
  width: 100%;

  .image-view {
    z-index: 1;
    text-align: center;

    .image-1 {
      margin-top: 400px;
      position: relative;
      z-index: 2;
      height: 900px;
      background-image: radial-gradient(
                      at 40% 40%,
                      rgba(0, 0, 0, 0.1),
                      rgba(0, 0, 0, 0.9) 70%
      ), url("../../images/leagueoflegend2.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 90%;

      border: 2px solid black;
      transition: 4s;
      opacity: 0;
    }

    .image-2 {
      margin-top: 400px;
      position: relative;
      z-index: 2;
      height: 900px;
      background-image: radial-gradient(

                      rgba(0, 0, 0, 0.2),
                      rgba(0, 0, 0, 1) 85%
      ), url("../../images/overwatch5.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 90%;

      border: 2px solid black;
      transition: 4s;
      opacity: 0;
    }

    .image-3 {
      margin-top: 400px;
      position: relative;
      height: 900px;
      background-image: radial-gradient(

                      rgba(0, 0, 0, 0.2),
                      rgba(0, 0, 0, 1) 90%
      ), url("../../images/battleground5.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 90%;

      border: 2px solid black;
      transition: 4s;
      opacity: 0;
    }

    .image-4 {
      margin-top: 400px;
      position: relative;
      height: 900px;
      background-image: radial-gradient(

                      rgba(0, 0, 0, 0.2),
                      rgba(0, 0, 0, 1) 90%
      ), url("../../images/maplestory3.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 90%;

      border: 2px solid black;
      transition: 4s;
      opacity: 0;
    }

    .image-5 {
      margin-top: 400px;
      position: relative;
      height: 900px;
      background-image: radial-gradient(

                      rgba(0, 0, 0, 0.2),
                      rgba(0, 0, 0, 1) 85%
      ), url("../../images/minecraft4.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 90%;

      border: 2px solid black;
      transition: 4s;
      opacity: 0;
    }

    .image-6 {
      margin-top: 400px;
      position: relative;
      height: 900px;
      margin-bottom: 250px;
      background-image: radial-gradient(

                      rgba(0, 0, 0, 0.2),
                      rgba(0, 0, 0, 1) 85%
      ), url("../../images/lies-of-p-3.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 90%;

      border: 2px solid black;
      transition: 4s;
      opacity: 0;
    }



  }
}

/* Img Animation */

/* 무한 회전 */
.img1 {
  animation: rotate_image 6s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

/* 나타나는 애니메이션 */
.img2 {
  animation: rotate_image 6s linear infinite, scale1 6s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes scale1 {
  0%   { transform: scale(0) }
  100%  { transform: scale(1) }
}

/* 사라지는 애니메이션 */
.img3 {
  animation: rotate_image 6s linear infinite, scale2 6s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes scale2 {
  0%   { transform: scale(1) }
  100%  { transform: scale(0) }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


/**/

.Main-logo {

}

.Social-logo {

  background-color: black;
  width: 100%;
  padding-bottom: 60px;
  bottom: 0px;
  position: relative;
}

.Social-logo .link-style {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  transition: .6s;
  box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.Social-logo .link-style:hover {
  background-color: rgba(0, 0, 0, 0.829);
  color: #fff;
  transform: translate(0, -30%);
}

/* 그리기 */

.svg-draw {

  svg {
    max-height: 45rem;
    width: 1000px;
    height: auto;
    fill: none;
    stroke: white;
    stroke-width: 200;

    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, 0%);

    path {
      stroke-dasharray: 50000;
      stroke-dashoffset: -50000;

      @for $i from 1 through 7 {
        &:nth-of-type(#{$i}) {
          animation: draw 500ms #{$i * 300}ms forwards;
        }
      }
    }
  }
}

@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}